// Montserrat

@font-face
	font-family: "Montserrat"
	font-weight: normal
	font-style: normal
	src: url('../assets/Montserrat/Montserrat-Regular.ttf')

@font-face
	font-family: "Montserrat"
	font-weight: bold
	font-style: normal
	src: url('../assets/Montserrat/Montserrat-Bold.ttf')
