// Montserrat

@font-face
	font-family: "Montserrat"
	font-weight: normal
	font-style: normal
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf')

@font-face
	font-family: "Montserrat"
	font-weight: bold
	font-style: normal
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf')

// Noto Emoji

@font-face
	font-family: "Noto Emoji"
	font-weight: normal
	font-style: normal
	src: url('../fonts/Noto Emoji/Noto-Emoji.ttf')

// Webly Sleek UI

@font-face
	font-family: "WeblySleek UI"
	font-weight: 200
	font-style: normal
	src: url('../fonts/WeblySleek UI/weblysleekuil.ttf')
	
@font-face
	font-family: "WeblySleek UI"
	font-weight: 200
	font-style: italic
	src: url('../fonts/WeblySleek UI/weblysleekuili.ttf')
	
@font-face
	font-family: "WeblySleek UI"
	font-weight: 300
	font-style: normal
	src: url('../fonts/WeblySleek UI/weblysleekuisl.ttf')
	
@font-face
	font-family: "WeblySleek UI"
	font-weight: 300
	font-style: italic
	src: url('../fonts/WeblySleek UI/weblysleekuisli.ttf')
	
@font-face
	font-family: "WeblySleek UI"
	font-weight: bold
	font-style: normal
	src: url('../fonts/WeblySleek UI/weblysleekuisb.ttf')
	
@font-face
	font-family: "WeblySleek UI"
	font-weight: bold
	font-style: italic
	src: url('../fonts/WeblySleek UI/weblysleekuisbi.ttf')
