body, html
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	overflow-x: hidden
	overflow-y: hidden
	font-family: BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif
	font-size: 12pt

// Blue base
blueBase = dodgerblue
// Darker navy tone
navyBase = #2c3e50
// Ultra light gray
grayBase = #eeeeee
// Hot pink accent
accent = #ec407a
// Twitter accent
twitterBlue = #00ACED
// Nice gray tone used by Twitter
twitterGray = #292f33

// Miscellaneous Twitter colors...
twitterGray2 = #66757f
twitterGray3 = #ccd6dd
twitterGray4 = #e1e8ed

// Link styles

a
	color: blueBase
	text-decoration: none
	
a:hover
	text-decoration: underline
