body, html
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	overflow-x: hidden
	overflow-y: hidden
	font-family: 'WeblySleek UI'
	font-size: 12pt

// Blue base
$blue_base = dodgerblue
// Darker navy tone
$navy_base = #2c3e50
// Ultra light gray
$gray_base = #eeeeee
// Hot pink accent
$accent = #ec407a
// Twitter accent
$twitter_blue = #00ACED
// Nice gray tone used by Twitter
$twitter_gray = #292f33

// Miscellaneous Twitter colors...
$twitterGray2 = #66757f
$twitterGray3 = #ccd6dd
$twitterGray4 = #e1e8ed

// Link styles

a
	color: $blue_base
	text-decoration: none
	
a:hover
	text-decoration: underline
