@import '../../styles/global'

// Styles for cards

#card
	width: calc(100% - 20px)
	padding: 10px
	border-bottom: 1px solid lightgray
	float: left
	background: white
	font-size: 11pt
	color: dimgray

a
	color: pinkAccent
	text-decoration: none

a:hover
	text-decoration: underline

// Top pane of card

#smTopPane
	width: 60px
	float: left

#smStatusPic::shadow #image
	width: 50px
	height: 50px
	margin-right: 10px
	float: left
	border-radius: 50%

#smDetails
	width: calc(100%)
	margin-top: 3px
	float: left

#smName
	margin-right: 4px
	float: left
	font-family: "Roboto"
	font-size: 12pt
	color: dimgray

#smUsername, #smTimestamp
	margin-top: 2px
	float: left
	font-family: "Roboto Condensed"
	font-size: 10pt
	color: darkgray

#smTimestamp
	float: right

// Bottom pane of card

#smBottomPane
	width: calc(100% - 60px)
	float: left

// Styles for Instagram posts

#smInstaPic::shadow #image
	max-width: 100%
	margin-top: 5px
	float: left

#smInstaVideo
	width: 100%
	max-height: 300px
	margin-top: 5px
	float: left

#smInstaCaption
	width: 100%
	margin-top: 5px
	float: left
	font-family: "Roboto Light"
	font-size: 11pt

// Styles for Tweets

#smTweetMedia::shadow #image
	max-width: 100%
	max-height: 350px
	margin-top: 5px
	float: left

#smTweet
	width: 100%
	margin-top: 5px
	float: left
	font-family: "Roboto Light"
	font-size: 11pt