<!-- POLYMER -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<polymer-element name="plus-dash">
	<template>
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="plus-dash.css">
		<!-- ICONS -->
		<link rel="import" href="../../bower_components/core-icons/social-icons.html">
		<!-- MARKUP -->
		<core-toolbar id="headerPane">
			<paper-icon-button id="menuButton" class="button" icon="menu"></paper-icon-button>
			<div flex>
				<h1>POST+</h1>
			</div>
			<paper-icon-button id="profileButton" class="button" icon="social:person"></paper-icon-button>
			<paper-icon-button id="searchButton" class="button" icon="search"></paper-icon-button>
			<paper-icon-button id="settingsButton" class="button" icon="settings"></paper-icon-button>
		</core-toolbar>
		<div id="columnPane">
			<fb-column accessToken="CAAGjYOZBDhxwBAIh4x264qHzuup36mDhZCwVHemxyaw1M9Mt6tMdixOJXMPgZCK6HMr6B7Tc98VSsaZCtIZBaTKlaZBzLu6ZBKXSEfpDfJN0gnfLJmaZBZB6WRZA5e3ZCfHI8ppuZAA4rkjCDFn43kIqtyJ8A6IDYZBo8ZCZC1MTbtW2RgeiVw4MKkMUkhB"></fb-column>
			<insta-column accessToken="183564832.13bd7f4.f076374386ec4f53a220d855ab7e9d25"></insta-column>
			<twitter-column accessToken=""></twitter-column>
		</div>
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('plus-dash', {
			ready: function() {
				
				// WRITE SOME CODE HERE.
				
			}
		});
	</script>
</polymer-element>