#headerPane
	background: #E9E9E9
	
	.button
		color: #6B6B6B
	
	h1
		text-align: center
		line-height: 60px
		font-family: "Montserrat"
		font-weight: bold
		font-size: 32px
		color: #6B6B6B
		
#columnPane
	width: 100%
	height: calc(100% - 64px)
	float: left
	background: lightgray