@import '../plus-app/global'

#headerPane
	background: #E9E9E9
	background: navyBase
	
	.button
		color: #6B6B6B
		color: pinkAccent
	
	h1
		text-align: center
		line-height: 60px
		font-family: "Montserrat"
		font-weight: bold
		font-size: 32px
		color: #6B6B6B
		color: pinkAccent
		
#columnPane
	width: 100%
	height: calc(100% - 64px)
	float: left
	background: lightgray
	
#postButton
	position: absolute
	bottom: 56px
	right: 56px
	background: pinkAccent