<polymer-element name="twitter-card" attributes="tweet oauthToken oauthTokenSecret">
	<template>
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="../plus-card/plus-card.css">
		<!-- MARKUP -->
		<div id="card">
			<div id="smTopPane">
				<plus-img id="smStatusPic" src="{{tweet.user.profile_image_url_https}}"></plus-img>
			</div>
			<div id="smBottomPane">
				<div id="smDetails">
					<span id="smName">
						{{tweet.user.name}}
					</span>
					<span id="smUsername">
						@{{tweet.user.screen_name}}
					</span>
					<span id="smTimestamp">
						<plus-time timestamp="{{tweet.created_at}}" service="Twitter"></plus-time>
					</span>
				</div>
				<template if="{{tweet.entities.media}}">
					<plus-img id="smTweetMedia" src="{{tweet.entities.media[0].media_url_https}}"></plus-img>
				</template>
				<div id="smTweet"></div>
			 </div>
		</div>
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('twitter-card', {
			ready: function() {
				// Parse entities in tweet and add to text.
				this.parseEntities(this.tweet);
			},
			parseEntities: function(tweet) {
				if (!tweet.entities) {
					return this.escapeHTML(tweet.text);
				}
				var index_map = {};
				// Parse links.
				$.each(tweet.entities.urls, function(i, entry) {
					index_map[entry.indices[0]] = [entry.indices[1], function(text) {
						return '<a href="' +
							this.escapeHTML(entry.url) +
							'">' +
							entry.display_url +
							'<\/a>';
					}.bind(this)];
				}.bind(this));
				// Parse media.
				if (typeof tweet.entities.media !== 'undefined') {
					$.each(tweet.entities.media, function(i, entry) {
						index_map[entry.indices[0]] = [entry.indices[1], function(text) {
							return '<a href="' +
								this.escapeHTML(entry.media_url_https) +
								'">' +
								entry.display_url +
								'<\/a>';
						}.bind(this)];
					}.bind(this));
				}
				// Parse hashtags.
				$.each(tweet.entities.hashtags, function(i, entry) {
					index_map[entry.indices[0]] = [entry.indices[1], function(text) {
						return '<a href="http://twitter.com/search?q=' +
							escape('#' + entry.text) +
							'">' +
							this.escapeHTML('#' + entry.text) +
							'<\/a>';
					}.bind(this)];
				}.bind(this));
				// Parse mentions.
				$.each(tweet.entities.user_mentions, function(i, entry) {
					index_map[entry.indices[0]] = [entry.indices[1], function(text) {
						return '<a title="' +
							this.escapeHTML(entry.name) +
							'" href="https://twitter.com/' +
							this.escapeHTML(entry.screen_name) +
							'">' +
							this.escapeHTML('@' + entry.screen_name) +
							'<\/a>';
					}.bind(this)];
				}.bind(this));
				// Iterate through the string looking for matches in the index_map, append to resulting HTML string.
				var result = '';
				var last_i = 0;
				var i = 0;
				for (i = 0; i < tweet.text.length; ++i) {
					var ind = index_map[i];
					if (ind) {
						var end = ind[0];
						var func = ind[1];
						if (i > last_i) {
							result += this.escapeHTML(tweet.text.substring(last_i, i));
						}
						result += func(tweet.text.substring(i, end));
						i = end - 1;
						last_i = end;
					}
				}
				if (i > last_i) {
					result += tweet.text.substring(last_i, i);
				}
				// Replace newlines with line breaks.
				result = result.replace(/(?:\r\n|\r|\n)/g, '<br />');
				// Set Tweet content to parsed result.
				$(this.$.smTweet).html(result);
			},
			escapeHTML: function(text) {
				return $('<div></div>').text(text).html();
			}
		});
	</script>
</polymer-element>