<!-- POLYMER -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<polymer-element name="people-login" attributes="defaultTab">
	<template>
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="people-login.css">
		<!-- MARKUP -->
		<!-- Accounts Pane -->
		<paper-shadow id="accountsPane" z="3">
			<core-animated-pages transitions="cross-fade" selected="{{authz.inProgress ? 1 : 0}}">
				<!-- Page 1 / Accounts -->
				<div id="accountsPg">
					<!-- Tab Container -->
					<paper-shadow id="tabContainer" z="1" cross-fade>
						<paper-tabs id="tabs" selected="{{defaultTab}}" nobar="true" noink="true">
							<paper-tab class="tab">Add Account</paper-tab>
							<paper-tab class="tab">Added</paper-tab>
						</paper-tabs>
						<core-pages selected="{{$.tabs.selected}}">
							<!-- Login tab -->
							<div id="loginContainer">
								<paper-shadow id="fbButton" class="loginButton" z="1" on-tap="{{launchWebAuth}}" data-service="Facebook" style="background: #3B5998">
									<img class="icon" src="images/fb-48.png" />Add Facebook
								</paper-shadow>
								<paper-shadow id="twitterButton" class="loginButton" z="1" on-tap="{{launchWebAuth}}" data-service="Twitter" style="background: #00ACED">
									<img class="icon" src="images/twitter-48.png">Add Twitter
								</paper-shadow>
								<paper-shadow id="instaButton" class="loginButton" z="1" on-tap="{{launchWebAuth}}" data-service="Instagram" style="background: #3F729B">
									<img class="icon" src="images/insta-48.png" />Add Instagram
								</paper-shadow>
							</div>
							<!-- Accounts tab -->
							<div id="accountsContainer">
								<template repeat="{{account, index in accounts}}">
									<paper-shadow class="accountTile" z="1">
										<template if="{{account.service === 'Facebook'}}">
											<core-icon size="40" icon="social:post-facebook" style="color: #3B5998"></core-icon>
										</template>
										<template if="{{account.service === 'Twitter'}}">
											<core-icon size="40" icon="social:post-twitter" style="color: #00ACED"></core-icon>
										</template>
										<template if="{{account.service === 'Instagram'}}">
											<core-icon size="40" icon="social:post-instagram" style="color: #3F729B"></core-icon>
										</template>
										<div id="fullNameContainer">{{account.fullName}}</div>
										<template if="{{account.username && (account.service === 'Twitter' || account.service === 'Instagram')}}">
											<div id="usernameContainer" class="username">@{{account.username}}</div>
										</template>
										<paper-icon-button class="removeButton" icon="delete" on-tap="{{removeAccount}}" data-index="{{index}}"></paper-icon-button>
									</paper-shadow>
								</template>
								<template if="{{accounts.length === 0}}">
									<p>No accounts here yet. Add them first!</p>
								</template>
							</div>
						</core-pages>
					</paper-shadow>
					<!-- Finish Button -->
					<template if="{{accounts.length >= 1}}">
						<paper-button id="finishButton" raised cross-fade>Finish</paper-button>
					</template>
				</div>
				<!-- Page 2 / Loading -->
				<div id="loadingPg">
					<div id="loadingContainer" cross-fade><!-- Solves issues with cross-fade not working properly when applied directly. -->
						<!-- Setup Progress -->
						<paper-spinner id="setupProgress" active></paper-spinner>
						<!-- Cancel Button -->
						<paper-button id="cancelButton" on-tap="{{cancelWebAuth}}">Cancel</paper-button>
					</div>
				</div>
			</core-animated-pages>
			<!-- Toasts -->
			<paper-toast id="successToast" text="{{authz.service}} account successfully added!"></paper-toast>
			<paper-toast id="errorToast" text="An error occured while connecting to {{authz.service}}." duration="5000"><div on-tap="{{retryWebAuth}}">RETRY</div></paper-toast>
			<paper-toast id="duplicateToast" text="You already added that account!"></paper-toast>
		</paper-shadow>
		<!-- Intro Pane -->
		<div id="introPane"> 
			<core-animated-pages transitions="cross-fade" selected="{{authz.inProgress ? 1 : 0}}">
				<!-- Page 1 / Intro Container -->
				<div id="introContainer">
					<h1 cross-fade><img src="../people-app/images/people-128.png" />POST+</h1>
					<h3 cross-fade>Welcome to Post+! Login to your accounts to get started (don't worry, you can always add more or remove them later in Settings).</h3>
					<video controls cross-fade></video>
				</div>
				<!-- Page 2 / Authentication Container -->
				<div id="webAuthContainer">
					<webview id="webAuth" on-loadcommit="{{checkWebAuth}}" src="{{authz.requestURL}}" allowtransparency="on" cross-fade></webview>
				</div>
			</core-animated-pages>
		</div>
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript" src="people-login.js"></script>
</polymer-element>