<!-- DEPENDENCIES -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<polymer-element name="plus-img" attributes="src">
	<template>
		<!-- STYLES -->
		<style type="text/css">
			/* Allow image to fade-in after its loaded. */
			#image {
				opacity: 0;
			}
		</style>
		<!-- MARKUP -->
		<img id="image" src="{{blob}}" />
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('plus-img', {
			ready: function() {
				var image = this.$.image;
				// Initialize XMLHttpRequest to fetch image blob data.
				var xhr = new XMLHttpRequest();
				xhr.open('GET', this.src, true);
				xhr.responseType = 'blob';
				xhr.onload = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						// Convert response to blob; set image source to blob.
						this.blob = window.URL.createObjectURL(xhr.response);
						$(this.$.image).animate({opacity: 1}, 400);
					}
				}.bind(this);
				xhr.send();
			}
		});
	</script>
</polymer-element>