<polymer-element name="plus-img" attributes="src">
	<!-- MARKUP -->
	<template>
		<img id="image" src="{{blob}}" style="opacity: 0" />
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('plus-img', {
			ready: function() {
				var image = this.$.image;
				// Initialize XMLHttpRequest to fetch image blob data.
				var xhr = new XMLHttpRequest();
				xhr.open('GET', this.src, true);
				xhr.responseType = 'blob';
				xhr.onload = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						// Convert response to blob; set image source to blob.
						this.blob = window.URL.createObjectURL(xhr.response);
						TweenLite.to(this.$.image, 0.5, {opacity: 1});
					}
				}.bind(this);
				xhr.send();
			}
		});
	</script>
</polymer-element>