<!-- DEPENDENCIES -->
<!-- Polymer -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<!-- Core Elements -->
<link rel="import" href="../../bower_components/core-pages/core-pages.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/core-iconset-svg/core-iconset-svg.html">
<!-- Paper Elements -->
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<!-- Icons -->
<link rel="import" href="../../bower_components/core-icons/social-icons.html">
<!-- Components -->
<link rel="import" href="../fb-card/fb-card.html">
<link rel="import" href="../fb-column/fb-column.html">
<link rel="import" href="../fb-video/fb-video.html">
<link rel="import" href="../insta-card/insta-card.html">
<link rel="import" href="../insta-column/insta-column.html">
<link rel="import" href="../plus-column/plus-column.html">
<link rel="import" href="../plus-dash/plus-dash.html">
<link rel="import" href="../plus-icons/plus-icons.html">
<link rel="import" href="../plus-img/plus-img.html">
<link rel="import" href="../plus-login/plus-login.html">
<link rel="import" href="../plus-time/plus-time.html">
<link rel="import" href="../twitter-api/twitter-api.html">
<link rel="import" href="../twitter-column/twitter-column.html">
<!-- jQuery & Velocity.js -->
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../bower_components/velocity/velocity.min.js"></script>
<!-- STYLES -->
<style type="text/css">
	body, html {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		/* use this or not....? */
		-webkit-user-select: none;
	}
</style>
<!-- FONTS -->
<link rel="stylesheet" href="../plus-fonts/plus-fonts.css">
<polymer-element name="plus-app">
	<template>
		<!-- MARKUP -->
		<!-- <core-pages selected="{{selected}}"> -->
			<!-- <plus-login defaultTab="0"></plus-login> -->
			<plus-dash></plus-dash>
		<!-- </core-pages> -->
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('plus-app', {
			selected: 0,
			ready: function() {
				console.log('whaaaaa');
				chrome.storage.sync.get('accounts', function(accounts) {
					// If no accounts exist, navigate to the login page. Otherwise, navigate to dash.
					if ($.isEmptyObject(accounts)) {
						// Navigate to login.
						this.selected = 1;
					} else {
						// Navigate to dash.
						this.selected = 2;
					}
				}.bind(this));
			}
		});
	</script>
</polymer-element>