<!-- POLYMER -->
<link rel="import" href="../../lib/polymer/polymer.html">
<polymer-element name="people-dash">
	<template>
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="people-dash.css">
		<!-- MARKUP -->
		<div id="headerPane">
			<h1>PEOPLE+</h1>
			<img id="settingsButton" src="../../images/settings.png" />
			<paper-shadow z="2"></paper-shadow>
		</div>
		<div id="columnPane">
			<fb-column accessToken="CAAGjYOZBDhxwBAIh4x264qHzuup36mDhZCwVHemxyaw1M9Mt6tMdixOJXMPgZCK6HMr6B7Tc98VSsaZCtIZBaTKlaZBzLu6ZBKXSEfpDfJN0gnfLJmaZBZB6WRZA5e3ZCfHI8ppuZAA4rkjCDFn43kIqtyJ8A6IDYZBo8ZCZC1MTbtW2RgeiVw4MKkMUkhB"></fb-column>
			<insta-column accessToken="183564832.13bd7f4.f076374386ec4f53a220d855ab7e9d25"></insta-column>
		</div>
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('people-dash', {
			ready: function() {
				
				// WRITE SOME CODE HERE.
				
			}
		});
	</script>
</polymer-element>