<!-- POLYMER -->
<link rel="import" href="../../lib/polymer/polymer.html">
<polymer-element name="fb-card" attributes="post accessToken">
	<template>
		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="../people-card/people-card.css">
		<!-- MARKUP -->
		<div id="card">
			<div id="smTopPane">
				<people-img id="smStatusPic" src="{{'https://graph.facebook.com/' + post.from.id + '/picture?type=square'}}"></people-img>
			</div>
			<div id="smBottomPane">
				<div id="smDetails">
					<span id="smName">
						{{post.from.name}}
						<template if="{{post.to.data.length <= 1 && post.type === 'status'}}">
							<core-icon icon="chevron-right" size="12" style="fill: gray; margin-bottom: 3px;"></core-icon>
							{{post.to.data[0].name}}
						</template>
					</span>
					<span id="smTimestamp">
						<people-time timestamp="{{post.created_time}}" service="Facebook"></people-time>
					</span>
				</div>
				<!-- <div id="smPostStats">
					<template if="{{post.likes}}">
						<img id="smIcon" src="../images/like-14.png" />
						{{post.likes.data.length}}
					</template>
					<template if="{{post.comments}}">
						<img id="smIcon" src="../images/comment-14.png" />
						{{post.comments.data.length}}
					</template>
				</div> -->
				<template if="{{post.type === 'photo'}}">
					<people-img id="smFbPic" src="{{'https://graph.facebook.com/' + post.object_id + '/picture?type=normal&access_token=' + accessToken}}"></people-img>
				</template>
				<template if="{{post.type === 'video'}}">
					<fb-video src="{{post.source}}"></fb-video>
				</template>
				<div id="smFbPost">
					<template if="{{post.message}}">
						{{post.message}}
					</template>
					<template if="{{post.story}}">
						{{post.story}}
					</template>
				</div>
				<!-- <paper-button label="Like" raisedButton></paper-button>
				<paper-button label="Comment" raisedButton></paper-button> -->
				<!-- <paper-icon-button iconSrc="../../images/like-24.png"></paper-icon-button>
				<template if="{{post.likes}}">
					{{post.likes.data.length}}
				</template>
				<paper-icon-button iconSrc="../../images/comment-24.png"></paper-icon-button>
				<template if="{{post.comments}}">
					{{post.comments.data.length}}
				</template> -->
			</div>
		</div>
	</template>
	<!-- SCRIPTS -->
	<script type="text/javascript">
		Polymer('fb-card', {
			ready: function() {
				
				// Write some code here.
				
			}
		});
	</script>
</polymer-element>