// COLORS

navyBase = #2c3e50 // Darker navy tone
grayBase = #eeeeee // Ultra-light gray
pinkAccent = #ec407a // Hot pink accent

fbAccent = #3B5998
twitterAccent = #00ACED
instaAccent=  #3F729B

.fb
	background: fbAccent
	color: fbAccent
	
.twitter
	background: twitterAccent
	color: twitterAccent
	
.insta
	background: instaAccent
	color: instaAccent

// BUTTON

.button
	cursor: pointer

// TEXT

body
	font-family: Roboto
	font-size: 14px
	color: dimgray

.username
	font-family: "Roboto Condensed"
	font-size: 14px
	font-style: italic
	color: darkgray